 .gcomponents {
 	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
 }

 .navbar {
  	position: fixed; 
	right: 0;
	top: 0;
 }

 .navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }

.navbar li {
	display: inline;
  }

.navbar a {
	float: right;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
 }

 footer {
	 position: fixed;
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 text-align: center;
	 background-color: lightgrey;
 }

 hr {
	border-top: 1px solid grey;
 }
 
 .logo {
	padding-top: 50px;
 }
 
 .searchbox {
	border-radius: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
 }
 
 .buttons {
 	
 }
 
 .glang {
	font-size: 14px;
	font-family: arial,sans-serif;
	color: #222;

 }
 
 .location {
	padding: 15px 30px;
	border-bottom: 1px solid #dadce0;
	font-size: 15px;
	color: rgba(0,0,0,.54);
	text-align: left;
 }
 
 .footerstuff {
	justify-content: space-evenly;
	font-size: 14px;
	font-family: arial,sans-serif;
	color: #222;
 }